
h2{
  font-family: "Alegreya", serif ;
  
  font-size: 20px;

}
 p{
  margin: 50px 0px;
 font-family: "Alegreya", serif ;
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;}
  
.home {
  
  background-image: url(Coffman.jpg);
  background-size: 100% 100%;
  background-position: center center;
 width: 100%;
  height: 100vh;
  overflow: auto;
}

.home-content {
  text-align: center;
  color: #ffffff;
  margin-top: 10%;

}
.nav-img {
  width: 15%;
  float: left;
  margin-top: 10px;
}
.nav-img img {
  width: 100%;
}

.nav-links ul {
  float: right;
  margin-top: 10px;
}
.nav-links ul li {
  list-style-type: none;
  float: left;
  padding: 15px;
}
.nav-links ul li a {
  text-decoration: none;
  color: #ffffff;
}


.home-content h1 {
  margin: 15px 0px 20px;
  font-family: "Alegreya Sans", serif;
  font-size: 70px;
}


  .home-content p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 24px;
}

.home-container {
  width: 90%;
  margin: auto;
}

.button1 {
  border: none;
  background-color: #8e7754;
  border-radius: 2px;
  padding: 20px 25px;
  margin-top: 40px;
  margin-left: 10px;
  color: #ffffff;
}
.button2 {
  background-color: transparent;
  border: solid 1px white;
  border-radius: 2px;
  padding: 20px 25px;
  margin-top: 40px;
  margin-left: 10px;
  color: #ffffff;
}
.home-content h1 {
  margin: 15px 0px 20px;
  font-family: "Alegreya", serif;

}
.home-content p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 24px;
}
.section1{
  margin: 20px;
  padding: 20px;
  margin-top: 40px;
  background-color: white;
 
 
}
.section1 img{
  width: 500px;


}
.contant{
  width: 500px;
  display: inline-block;
  margin-left: 40px;
 
}

/*.section1 p{
  margin: 50px 0px;
 font-family: "Alegreya", serif ;
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  
}*/
.contant span {
  margin: 15px 0px;
  display: inline-block;
  font-size: 15px;
}
.section2{
  margin: 20px;
  padding: 20px;
 margin-top: 40px;

  background-color:#f8f8f8;
  width: 100%;
  
}

.section2 img{
  width: 500px;

}

.our-location{
  width: 500px;
  display: inline-block;
  margin-right: 40px;
  display: inline-block;
  line-height: 40px;

  
}
/*.section2 p{
  margin-top: 50px;
  font-family:"Alegreya", serif  ;
  font-size: 16px;
  font-weight: 400;
  
}*/
/*
.Our_Location h2{
  margin-bottom: 30px;
   font-family:"Alegreya", serif  ;
   font-size: 30px;
}*/
.section3{
  margin-top: 20px;
  padding-bottom: 40px;
  padding: 20px;
  margin-top: 40px;
  background-color: white;
  
 
}/*
.section3 p{
  
}*/
.Menu {
  text-align: center;
  margin: 40px;
}
.product{
    text-align: center;
    width: 32%;
   float: left;
   margin: 0px 5px;
   line-height: 30px;

}
.baking{
  text-align: center;
}
.baking h2{
  text-align: center;
  padding-top: 20px;
  margin: 30px;
}
.clear-fix {
  clear: both;}

.product img {
  width: 100%;
}
.section4{
  margin-top: 20px;
  padding-bottom: 40px;
  padding: 20px;
  background-color:#f8f8f8;
  
  
  
}


/*.map{
  width: 500px;
  display: inline-block;
  float:right;

}*/
.info{
  width: 500px;
  display: inline-block;
  float:left;
  padding: 20px;
  line-height: 30px;
}
/*
.info h2{
  font-size: 30px;

}*/
.info p{
font-size: 16px;
}

.section5{
   margin-top: 20px;
  padding-bottom: 40px;
  padding: 20px;
  background-color:#403d38;
    color: #ffffff;
    
    
  

}
.details{
  width: 95%;
  margin: 30px 0px;
  padding-top:40px;
  margin: auto;

}
.footer{
  width: 20%;
  float: left;
  margin-left: 30px;
  line-height: 30px;
}
.footer hr {
  margin: 10px 0px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  color: #969693;
}
.footer p {
  color: #969693;
}
.footer h3{
  margin-bottom: 10px;
  color:#f9f9f9;
  text-align: center;

}
.footer span{
  color: #969693;
}

.section6{
  background-color: #353330;
  text-align: center;
  height: 250px;
  line-height: 35px;
   margin-top: 0px;
  padding-bottom: 40px;
  padding: 20px;

  
}
.section6 p{
  color:#969693
}
.section6 .icon{
  font-size: 20px;
  letter-spacing: 50px;

}


@media all and (min-width:100px)and(max-width:200px){
  body{
    background-color: aqua;
  }
   .menu{
    border: solid 25px red;
    width:25%
  }
  .home-content{
border: solid 20px #8e7754;
width:25%
  }
}
/*
@media screen and (min-width: 200px) {
  body {
    background-color: lightgreen;
  }
  .menu{
    border: solid 25px red;
    width:50%
}
}*/

@media all and (min-width: 201px) and(max-width:600px){
  body {
    background-color: rgb(108, 66, 115);
  }
  .menu{
    border: solid 25px red;
    width:100%
  }
}
@media all and (min-width:600px)and(max-width:1000px){
  body{
    background-color: aqua;
  }
   .menu{
    border: solid 25px red;

  }
}